#contenedor{
	background: #ffff;
	padding: 10px;
	overflow: hidden;
}
#izquierda{
	float: left;
	padding: 20px;
	width: 300px;
	height: 200px;
	margin: 40px;
	background: url(ImagenF.jpeg);
}
#derecha{
	float: left;
	padding: 20px;
	width: 300px;
	height: 200px;
	margin: 40px;
	background: url(ImagenF.jpeg);
}
#medio{
	float: left;
	padding: 20px;
	width: 300px;
	height: 200px;
	margin: 40px;
	background: url(ImagenF.jpeg);
}

th{

}